.git-repo-growth {
  width: 25%;
  float: left;
  text-align: center;

  h3 {
    font-size: 28px;
    font-weight: 300;
    margin: 0;
  }

  span {
    color: #828a9f;
  }

  &.vapor h3 {
    color: #696fc9;
  }

  &.perfect h3 {
    color: #dda25d;
  }

  &.kitura h3 {
    color: #24a8de;
  }

  &.zewo h3 {
    color: #e64758;
  }
}
